{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}QuizEase{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!-- bootstrap link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">            </script> <!-- bootstrap jquery library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">         </script> <!-- bootstrap javascript library -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    
</head>
<body>
  <div id="content">
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>