{% extends "baseS.html" %}
{% block title %}QuizEase - View quizzes{% endblock %}
{% load static %}
{% block content %}

     <h2 class="auth-title">Join quiz</h2>


    <form method="post" class=" " action="{% url 'activeQuiz' %}">
        <input type="text" name="source" value="join" hidden>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <input type="text"
                   name="quiz_code"
                   id="id_quiz_code"
                   class="form-control-custom"
                   placeholder="Quiz code"
                   required>
        </div>


        <button type="submit" class="btn-custom">Join quiz</button>

    </form>

    <a class="btn-custom" href="{% url 's_home' %}">Home</a>

{% endblock %}